{% extends 'base.html.twig' %}

{% block content %}
    <div class="headline text-center">
        <h2>Open Source PHP Software</h2>
        <h1>Complexity Report</h1>
    </div>
    <div class="bg-white text-center p-3 shadow-lg">
        <div class="btn-group-lg">
            {% for project in projects %}
                <a href="{{ path('project', {'vendor': project.vendor}) }}"
                   class="mx-2 my-2 btn btn-lg btn-secondary">
                    {{ project.name }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
