{% extends 'base.html.twig' %}

{% block content %}
    <div class="headline text-center">
        <h2>Open Source PHP Software</h2>
        <h1>Complexity Report</h1>
    </div>
    {{ include('_project_bar.html.twig') }}
{% endblock %}
